<h1>Beer Clubs</h1>
<div class="container">
<table class="table">
    <thead>
      <tr>
      <th><%= link_to "Name", beer_clubs_path(order: "Name")  %></th> 
      <th><%= link_to "Founded", beer_clubs_path(order: "Founded")  %></th> 
      <th><%= link_to "City", beer_clubs_path(order: "City")  %></th> 
      <tr>
    </thead>
    <% @beer_clubs.each do |c| %>
      <%= render c %>
    <% end %>
</table>

<%= link_to("New beer club", new_beer_club_path, class:'btn btn-primary') if current_user %>
</div>
