<p style="color: green"><%= notice %></p>

<div>
  <h2><b>Username:</b></h2>
  <p> <%= @user.username %></p>
  <p> Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %> </p>
  <p><h3>Favorite style: <%= @user.favorite_style %> </h3></p>
  <p><h3>Favorite brewery: <%= @user.favorite_brewery %> </h3></p>
</div>
<div>
<div>
  <h2><b>Member of</b></h2>
      <ul>
      <% @user.beer_clubs.each do |c| %>
        <li><%= c.name %></li>
      <% end %>
      </ul>
</div>
  <h2><b>Ratings</b></h2>
  <ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating.tuloste %>
      <% if current_user == @user %>  
         <%= link_to "Delete", rating, data: {"turbo-method": :delete}  %>
      <% end %> 
    </li>
    
  <% end %>
  </ul>
</div>
<div>
  <% if current_user == @user %>  
  <p>
  <%= link_to "Edit this user", edit_user_path(@user) %>  <%= button_to "Destroy this user", @user, method: :delete %>
  </p>
  <% end %>
  <%= link_to "Back to users", users_path %>
</div>
